* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: darkgray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.card {
    width: 300px;
    height: 400px;
    background: #000;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .25s ease;
    backface-visibility: hidden;
}

.card:hover {
    transform: scale(.9);
}

.card:hover:after {
    height: 280px;
}

.card:hover .con-text {
    margin-bottom: 0px;
    opacity: 1;
}

.card:hover img {
    transform: scale(1.2);
}

.card:hover .ul {
    transform: translateY(0);
    opacity: 1;
}

.card:after {
    width: 100%;
    content: '';
    left: 0px;
    bottom: 0px;
    height: 150px;
    position: absolute;
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 100%);
    z-index: 20;
    transition: all .25s ease;
}

.card .con-text {
    z-index: 30;
    position: absolute;
    bottom: 0;
    color: #fff;
    padding: 20px;
    padding-bottom: 30px;
}

.card .con-text p {
    font-size: .8rem;
    opacity: 0;
    margin-bottom: -170px;
    transition: all .25s ease;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}

.card .con-text p button {
    padding: 7px 17px;
    border-radius: 12px;
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    margin-top: 10px;
    margin-left: auto;
    cursor: pointer;
    transition: all .25s ease;
    font-family: 'poppins', sans-serif;
    font-size: .75rem;
    outline: none;
}



li {
    font-size: 20px;
    list-style: none;
}

.fa-solid {
    font-size: 24px;
    color: #FFF
}

.fa-regular {
    font-size: 24px;
    color: #FFF
}

.card img {
    height: 100%;
    z-index: 10;
    transition: all .25s ease;
}